<!DOCTYPE html>
<html lang="en">

<head>
  
  <style>
    .output-container-analysis {
        width: revert;
        height: 350px;
        overflow: auto;
        border-radius: 10px;
        border: 5px solid #dddddd;
        padding: 10px;
        margin: 80px;
    }

    .form_analysis {
        width: 90%;
        position: relative;
        margin: 2px;
        padding: 50px;
    }

    .analysisFpurm1 {
        width: 40%;
        position: relative;
        margin: 4px;
        padding: 50px;
    }

    .analysisFpurm2 {
        width: 40%;
        position: ab;
        margin: 2px;
        padding: 50px;
    }
</style>
    <meta charset="utf-8">
    <title>TUMOR BRAIN CANCER DETECTION</title>
 

    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- Template Stylesheet -->

    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
   


     <!-- Navbar Start -->
<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="/index2" class="navbar-brand">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Tumor Brain cancer Detection</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/index2" class="nav-item nav-link">Home</a>
                    <a href="/service" class="nav-item nav-link">Service</a>
                    <a href="/analysis" class="nav-item nav-link">Analysis</a>
                    <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

<script>
    // Get the current page URL
    var currentPageUrl = window.location.href;

    // Get all navigation links
    var navLinks = document.querySelectorAll('.navbar-nav .nav-link');

    // Loop through each navigation link
    for (var i = 0; i < navLinks.length; i++) {
        var link = navLinks[i];
        var linkUrl = link.href;

        // Check if the link URL matches the current page URL
        if (currentPageUrl === linkUrl) {
            // Add the "active" class to the link
            link.classList.add('active');
            break; // Exit the loop after finding the active link
        }
    }
</script>


    <div class="">
    <div class="container-fluid py-5 mt-5">
        <!-- <h1>Data Analysis with D3.js</h1> -->
      <div class="analysisFpurm1">
  <label  for="age">Age:</label>
  <input type="number" id="age" min="5" max="75">
  <br> 
  <label for="laterality">Laterality:</label>
  <select class="form-select" id="laterality">
    <option value="">Select Laterality</option>
    <option value="Right">Right</option>
    <option value="Left">Left</option>
  </select>
  <br>

  <label for="tumorLocation">Tumor Location:</label>
  <select class="form-select" id="tumorLocation">
    <option value="">Select Tumor Location</option>
    <option value="Supratentorial, Frontal Lobe">Supratentorial, Frontal Lobe</option>
    <option value="Supratentorial, Temporal Lobe">Supratentorial, Temporal Lobe</option>
    <option value="Supratentorial, Parietal Lobe">Supratentorial, Parietal Lobe</option>
    <option value="Posterior Fossa, Cerebellum">Posterior Fossa, Cerebellum</option>
  </select>
  <br>

  <label for="gender">Gender:</label>
  <select class="form-select" id="gender">
    <option value="">Select Gender</option>
    <option value="MALE">Male</option>
    <option value="FEMALE">Female</option>
  </select>
  <br>


  <label for="previousTreatment">Previous Treatment:</label>
  <select class="form-select" id="previousTreatment">
    <option value="">Select Previous Treatment</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
  <br>
</div>  

<div class="analysisFpurm2">
  <label for="tumorType">Tumor Type:</label>
  <select class="form-select" id="tumorType">
    <option value="">Select Tumor Type</option>
    <option value="meningioma">Meningioma</option>
    <option value="glioma">Glioma</option>
    <option value="pituitary">Pituitary</option>
  </select>
  <br>

  <label for="level">Level:</label>
  <select class="form-select" id="level">
    <option value="">Select Level</option>
    <option value="1">high grade</option>
    <option value="0">low grade</option>
  </select>
  <br>

  <label for="spreadOfTumor">Spread of Tumor:</label>
  <select class="form-select" id="spreadOfTumor">
    <option value="">Select Spread of Tumor</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
  <br>
</div>
        <button class="btn btn-primary w-60 py-3 mt-3" id="analyzeButton">Analyze</button>
            
                        <!-- <a href="/dashboard.html">Go To Dashboard</> -->
        

              </div>
  


            
               <div id="analysisContainer"></div>
            
              <!-- <p id="resultCount"></p> -->
        
    </div>

  </div>


  <div class="output-container-analysis">
    <table id="output"></table>
    
  </div>
  <div   id="resultCount"> </div>

    <div id="dashboard">
        <div>
            <canvas id="age-location-bar-chart"></canvas>
        </div>
        <div>
            <canvas id="age-type-bar-chart"></canvas>
        </div>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Get In Touch</h4>
                    <p class="mb-4">We will be ready to communicate with you at any time</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>cairo,mokattam,The Fifth District, next to Al-Limby's car, Btaa Al-Kebda </p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>eng4ah@example.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+2 - 011- 012 -013- 78</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Quick Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                        <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Popular Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                        <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Follow Us</h4>
                    <form action="">
                        
                    </form>
                    <h6 class="text-primary text-uppercase mt-4 mb-3"></h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light border-top border-secondary py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-primary" href="#"></a>All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-primary" href="https://www.facebook.com/ahmedsu333">  A.seliman</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <!-- Template Javascript -->
<!--    <script src="js/main.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js"></script>
    <script src="{{ url_for('static', filename='js/utils.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <script>
        // Load the CSV file
        d3.csv('static/df.csv').then(function(data) {
          // Function to filter the data based on user's query
          function filterData() {
            var laterality = document.getElementById('laterality').value;
            var tumorLocation = document.getElementById('tumorLocation').value;
            var gender = document.getElementById('gender').value;
            var age = document.getElementById('age').value;
            var previousTreatment = document.getElementById('previousTreatment').value;
            var tumorType = document.getElementById('tumorType').value;
            var level = document.getElementById('level').value;
            var spreadOfTumor = document.getElementById('spreadOfTumor').value;
    
            var filteredData = data.filter(function(d) {
              return (laterality === '' || d.laterality === laterality) &&
                     (tumorLocation === '' || d.tumor_location === tumorLocation) &&
                     (gender === '' || d.gender === gender) &&
                     (age === '' || parseInt(d.age) >= parseInt(age)) &&
                     (previousTreatment === '' || d.previous_treatments === previousTreatment) &&
                     (tumorType === '' || d.tumor_type === tumorType) &&
                     (level === '' || d.level === level) &&
                     (spreadOfTumor === '' || d.spread_of_tumor === spreadOfTumor);
            });
    
            return filteredData;
          }
    
          // Function to update the output table and perform data analysis
          function updateTable() {
            var outputTable = document.getElementById('output');
            outputTable.innerHTML = '';
    
            var filteredData = filterData();

            // Create table header
            var tableHeader = outputTable.createTHead();
            var headerRow = tableHeader.insertRow();
            Object.keys(filteredData[0]).forEach(function(key) {
              var headerCell = headerRow.insertCell();
              headerCell.textContent = key;
            });
    
            // Create table rows
            filteredData.forEach(function(d) {
              var row = outputTable.insertRow();
              Object.values(d).forEach(function(value) {
                var cell = row.insertCell();
                cell.textContent = value;
              });
            });
    
            // Display number of results
            var resultCount = document.getElementById('resultCount');
            resultCount.textContent = 'Number of Results: ' + filteredData.length;
    
            // Perform data analysis
            performDataAnalysis(filteredData);
          }
    
          // Function to perform data analysis
          function performDataAnalysis(filteredData) {
            // Calculate average age
            var totalAge = filteredData.reduce(function(acc, d) {
              return acc + parseInt(d.age);
            }, 0);
            var averageAge = totalAge / filteredData.length;
    
            var totalCount = filteredData.length;


          }

          // Attach event listeners to filter inputs
          var filterInputs = document.querySelectorAll('.filter-input');
          filterInputs.forEach(function(input) {
            input.addEventListener('change', updateTable);
          });
    
          // Attach event listener to the Analyze button
          var analyzeButton = document.getElementById('analyzeButton');
          analyzeButton.addEventListener('click', function() {
            updateTable();
          });

         // =============== Dashboard ==================

            const ageTumorLocationBarChart = document.getElementById('age-location-bar-chart');

            var filteredData = filterData();
            console.log('filteredData', filteredData)
            const tumorLocationsLabels = Object.values(filteredData.reduce((tumor_locations, row) => {
                tumor_locations[row.tumor_location] = row.tumor_location
                return tumor_locations;
            }, {}))

            const malesAges = filteredData.filter(row => row.gender === "MALE")
                .map(row => row.age);
            const femalesAges = filteredData.filter(row => row.gender === "FEMALE")
                .map(row => row.age);

            console.log('tumorLocationsLabels', tumorLocationsLabels);
            const ageTumorLocationBarChartData = {
                labels: tumorLocationsLabels,
                datasets: [
                    {
                        label: 'MALE',
                        data: malesAges,
                        borderColor: Utils.CHART_COLORS().red,
                        backgroundColor: Utils.CHART_COLORS(0.5).red,
                    },
                    {
                        label: 'FEMALE',
                        data: femalesAges,
                        borderColor: Utils.CHART_COLORS().blue,
                        backgroundColor: Utils.CHART_COLORS(0.5).blue,
                    }
                ]
            };

            new Chart(ageTumorLocationBarChart, {

                type: 'bar',
                data: ageTumorLocationBarChartData,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Age-to-Tumor-Location'
                        }
                    }
                },
            });

        const ageTumorTypeBarChart = document.getElementById('age-type-bar-chart');

        const tumorTypesLabels = Object.values(filteredData.reduce((tumor_types, row) => {
            tumor_types[row.tumor_type] = row.tumor_type
            return tumor_types;
        }, {}))


        console.log('tumorTypesLabels', tumorTypesLabels);
        const ageTumorTypeChartData = {
            labels: tumorTypesLabels,
            datasets: [
                {
                    label: 'MALE',
                    data: malesAges,
                    borderColor: Utils.CHART_COLORS().red,
                    backgroundColor: Utils.CHART_COLORS(0.5).red,
                },
                {
                    label: 'FEMALE',
                    data: femalesAges,
                    borderColor: Utils.CHART_COLORS().blue,
                    backgroundColor: Utils.CHART_COLORS(0.5).blue,
                }
            ]
        };

        new Chart(ageTumorTypeBarChart, {

            type: 'bar',
            data: ageTumorTypeChartData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Age-to-Tumor-Location'
                    }
                }
            },
        });

    });
    </script>
</body>

</html>